<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
	<Template>Normal.dotm</Template>
	<TotalTime>77</TotalTime>
	<Pages>6</Pages>
	<Words>1785</Words>
	<Characters>10175</Characters>
	<Application>Microsoft Macintosh Word</Application>
	<DocSecurity>0</DocSecurity>
	<Lines>84</Lines>
	<Paragraphs>23</Paragraphs>
	<ScaleCrop>false</ScaleCrop>
	<HeadingPairs>
		<vt:vector baseType="variant" size="2">
			<vt:variant>
				<vt:lpstr>Title</vt:lpstr>
			</vt:variant>
			<vt:variant>
				<vt:i4>1</vt:i4>
			</vt:variant>
		</vt:vector>
	</HeadingPairs>
	<TitlesOfParts>
		<vt:vector baseType="lpstr" size="1">
			<vt:lpstr/>
		</vt:vector>
	</TitlesOfParts>
	<Company>BitTitan</Company>
	<LinksUpToDate>false</LinksUpToDate>
	<CharactersWithSpaces>11937</CharactersWithSpaces>
	<SharedDoc>false</SharedDoc>
	<HyperlinksChanged>false</HyperlinksChanged>
	<AppVersion>14.0000</AppVersion>
</Properties>